.Checkbox {
  position: relative;
  width: 100%;
}

.Checkbox > input[type="checkbox"] {
  display: none;
}

.Checkbox > input[type="checkbox"] + span {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 32px;
  font-size: 32px;
}

.Checkbox > input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  color: #aaa;
}

.Checkbox > input[type="checkbox"] + span::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 20%;
  margin: 0 16px;
  transition: all 0.1s ease;
}

.Checkbox > input[type="checkbox"]:checked + span::after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 24px;
  top: -6px;
  left: 24px;
  border-bottom: var(--text-color) solid 4px;
  border-right: var(--text-color) solid 4px;
  transform: rotate3d(0, 0, 1, 45deg);
}
