:root {
  --main-color: rgb(205, 255, 147);
  --text-color: #3c3c3c;
  --danger-color: rgb(255, 100, 100);
  --danger-shadow: rgba(255, 100, 100, 0.5);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}
